<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="UTF-8">
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link type="text/css" rel="stylesheet" href="styles.css">
  <title>MongoScraper</title>

</head>

<body class="container">
  <h3 class="header">Mongo Scraper</h3>
  <div id="buttons">
    <button class="btn" id="headline-sort">Sort By Headline</button>
    
  </div>
  <table id="results">
    <thead>
      <tr>
        <th id="title">Title</th>
        <th id="link">Link</th>
        <th id="image">Image</th>
        <th id="summary">Summary</th>
      </tr>
    </thead>
    <tbody id="tbody">
   
    </tbody>
  </table>
<script src="app.js"></script>
</body>
</html>